body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
}

.nome{
    color: rgb(000, 000, 000);
    font-size: 12px;
}